<section class="sec-pres" aria-labelledby="sec-pres-title">
    <div class="container">
        <div class="grid">
            <!-- Columna media -->
            <figure class="card-media anim anim--fade-left" appInView animDelay="100ms" animDuration="1000ms" aria-label="Video de presentación del centro">
                <img src="https://s3.us-east-1.amazonaws.com/detecta.pe.files/investigacion/Banner-7-Investigacion-Detecta-1.png" alt="" class="card-media__frame">

                <div class="card-media__shadow" aria-hidden="true"></div>
            </figure>

            <!-- Columna texto -->
            <div class="copy anim anim--fade-right" appInView animDelay="100ms" animDuration="1000ms">
                <p class="chip">
                    <span class="dot" aria-hidden="true"></span>
                    Presentación
                </p>

                <h2 id="sec-pres-title" class="title">
                    Patrocinados<br>
                    <!-- <span>y aporte a la salud</span> -->
                </h2>

                <p style="font-size: 1.5vh; text-align: justify;">
                    Diseñados principalmente para el seguimiento de pacientes, enfocados en la observación de su
                    evolución a lo largo del tiempo sin intervención o modificación de su tratamiento. Supervisados por
                    empresas farmacéuticas, instituciones de investigación o patrocinadores externos interesados en
                    recopilar datos para el desarrollo o validación de tratamientos.
                </p>
                <a class="btn-cta" routerLink="/contacto">Solicitar más información</a>
            </div>
        </div>
    </div>
</section>