<section class="about-hero cover anim anim--fade-up" appInView animDuration="900ms"
    style="--hero-img: url('https://s3.us-east-1.amazonaws.com/detecta.pe.files/contacto/banner-contacto-detecta.webp'); margin-top: -70px;">

    <div class="container">
        <div class="row align-items-center justify-content-center g-4 g-lg-5">
            <div class="col-12 col-lg-11">
                <!-- panel “glass” para legibilidad -->
                <div class="hero-panel">
                    <!-- Eyebrow centrado -->
                    <div class="eyebrow-center anim anim--fade-up" appInView>
                        <span class="rule"></span>
                        <span class="chip">
                            <span class="dot"></span>
                            <span class="txt">Contacto</span>
                        </span>
                        <span class="rule"></span>
                    </div>

                    <h1 class="hero-title">
                        Estamos aquí para ayudarte <br><span class="accent">Escucharte y acompañarte</span>
                    </h1>


                    <!-- <p class="lead text-ink-2 mb-4">
                        {{ hero.desc }}
                    </p> -->

                    <!-- <div class="badges d-flex gap-2 flex-wrap">
                        <span class="badge badge-soft">Oncología</span>
                        <span class="badge badge-soft">Neurocirugía</span>
                        <span class="badge badge-soft">Diagnóstico por Imágenes</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>