<app-navbar *ngIf="mostrarNavHome"></app-navbar>
<app-navbar-2 *ngIf="!mostrarNavHome"></app-navbar-2>
<main>
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>

<app-chat-widget [phone]="'51922335134'" [title]="'Detecta Clínica'"
  [welcome]="'¡Hola! 👋 Gracias por comunicarte con Detecta Clínica. ¿En qué podemos ayudarte hoy?'"
  [preset]="'Hola, quisiera agendar una cita. ¿Me orientan por favor?'">
</app-chat-widget>
<!-- preloader global (encima de todo) -->
<app-preloader [src]="logoSrc" [size]="120" [blurBackdrop]="true"></app-preloader>