/* You can add global styles to this file, and also import other style files */
$primary: #44C6E1; // celeste marca
$success: #D2E151; // verde lima
$body-color: #133A4A; // texto
$border-radius: 1rem;

@import "bootstrap/scss/bootstrap";

:root {
    --brand: #44C6E1;
    --accent: #D2E151;
    --ink: #133A4A;
    --ink-2: #245c74;
    --bg: #fcfeff;
    --card: #ffffff;
    --muted: #6b8793;
    --radius: 16px;
    --shadow: 0 10px 30px rgba(19, 58, 74, .08);
    --nav-h: 70px;
}

* {
    box-sizing: border-box
}

html,
body {
    height: 100%
}

body {
    margin: 0;
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--ink);
    // background: var(--bg);
    background: #d2e151;
}

/* asegura espacio bajo el header fijo */

main {
    padding-top: var(--nav-h);
}

.hero {
    min-height: calc(100vh - var(--nav-h));
}

.flush-under-nav {
    margin-top: calc(var(--nav-h) * -1);
}