<app-investigacion-hero></app-investigacion-hero>
<app-investigacion-presentacion></app-investigacion-presentacion>
<app-investigacion-equipo></app-investigacion-equipo>
<app-shared-hero-media [bgColor]="'#f1fcff'" [overlay]="'rgba(0,0,0,.18)'" [textColor]="'#ffffff'" [align]="'left'"
    [kind]="'image'"
    [imageSrc]="'https://s3.us-east-1.amazonaws.com/detecta.pe.files/investigacion/Banner-4-Investigacion-Detecta.webp'"
    [eyebrow]="'Observacionales'" [title]="'Estudios Observacionales'"
    [subtitle]="'Experiencia en seguimiento longitudinal con estándares internacionales.'" [ctaLabel]="'Solicitar más información'"
    [ctaExternalHref]="'/contacto'">
</app-shared-hero-media>
<app-investigacion-rci></app-investigacion-rci>
<app-observacionales-hero></app-observacionales-hero>
<app-observacionales-patrocinados></app-observacionales-patrocinados>
<app-observacionales-patro-premios></app-observacionales-patro-premios>
<app-shared-hero-media [bgColor]="'linear-gradient(180deg, #dae154 100%, #dae154 100%)'" [overlay]="'rgba(0,0,0,.28)'"
    [textColor]="'#ffffff'" [align]="'center'" [kind]="'video'"
    [videoSrc]="'https://s3.us-east-1.amazonaws.com/detecta.pe.files/investigacion/Video-Investigacion-2.mp4'"
    [poster]="'https://s3.us-east-1.amazonaws.com/detecta.pe.files/investigacion/Video-Investigacion-2.mp4'" [eyebrow]="'Presentación'"
    [title]="'«Nuestras investigaciones y su aporte a la salud»'"
    [subtitle]="'Gracias a los voluntarios, nuevos tratamientos llegan a más personas.'"
    [ctaLabel]="'Solicitar más información'" [ctaRouterLink]="'/contacto'">
</app-shared-hero-media>
<app-investigacion-contacto></app-investigacion-contacto>